URxvt*font: xft:monospace:pixelsize=20, xft:FontAwesome:pixelsize=20
*background: #1d2021
*foreground: #9d8f7c
!
! ! black
*color0:     #1d2021
*color8:     #000000
!
! ! red
*color1:     #982222
*color9:     #660000
!
! ! green
*color2:     #7c9645
*color10:    #567e00
!
! ! yellow
*color3:     #e0a900
*color11:    #664d00
!
! ! blue
*color4:     #36528a
*color12:    #36528a
!
! ! magenta
*color5:     #cf145b
*color13:    #9f367b
!
! ! cyan
*color6:     #56a8ac
*color14:    #0e7579
!
! ! white
*color7:     #9d8f7c
*color15:    #bbbbbb
!
! ! cursor
*cursorColor: #cf145b
URxvt.internalBorder: 17
URxvt.depth: 32

URxvt*lineSpace: 4
URxvt*scrollBar: false
URxvt*scrollColor: #ffc715
URxvt.geometry: 80x23
URxvt*saveLines: 1000
URxvt*cursorUnderline: false
!URxvt*cursorColor: #ffc715
URxvt*cursorBlink: true
URxvt*underlineColor: #303030
URxvt*allow_bold: true
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt*transparent: true
URxvt*shading: 25
!URxvt*blurRadius: 50x50

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1d2021, #1d2021, #1d2021
rofi.color-normal: #1d2021, #9d8f7c, #1d2021, #1d2021, #7c9645
rofi.color-active: argb:13000000, #268bd2, argb:13000000, argb:7b268bd2, #ffffff
rofi.color-urgent: argb:14000000, #dc322f, argb:14000000, argb:7edc322f, #ffffff
